html, body {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.special-select, select {
    text-align: match-parent;
    text-align: inherit;
}

label[for] {
    font-weight: 500;
}

a:focus, button:focus, select:focus, input:focus {
    outline: 2px solid #005fcc;
    outline-offset: 3px;
}
